@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MVC_Article.Models.AddDataViewModel
@{
}
<h1>Todays News</h1>

<form method="POST" action="Add" class="mt-5">
    <div class='row mb-3'>
        <label class="col-sm-3" col-form-label">Heading</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="heading" asp-for="Heading" value="" />
        </div>
    </div>
    <div class='row mb-3'>
        <label class="col-sm-3" col-form-label">Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" asp-for="Name" value="" />
        </div>
    </div>
    <div class='row mb-3'>
        <label class="col-sm-3" col-form-label">Date</label>
        <div class="col-sm-6">
            <input type="date" class="form-control" name="date" asp-for="Date" value="" />
        </div>
    </div>
    <div class='row mb-3'>
        <label class="col-sm-3" col-form-label">Address</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="address" asp-for="address" value="" />
        </div>
    </div>
    <div class='row mb-3'>
        <label class="col-sm-3" col-form-label">Body</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="body" asp-for="body" value="" />
        </div>
    </div>
    <div class='row mb-3'>
        <label class="col-sm-3" col-form-label">Conclusion</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="conclusion" asp-for="conclusion" value="" />
        </div>
    </div>

    <div class="row mb-3">
        <div class=" offset-sm-3" col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>

